<!DOCTYPE html>
<html>
<head>
    <!-- page title-->
    <title>Health Care HTML Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Health Care, health" />
    <meta name="description" content="Health Care HTML Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--start theme style -->
    <link rel="stylesheet" href="~/Content/css/animate.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/fonts.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/style.css" media="screen" />
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.ico">
    @*<link rel="stylesheet" href="~/Content/images/favicon.ico" media="screen" />*@

    @*<script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-35935151-8', 'auto');
            ga('send', 'pageview');

        </script>*@
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <!--Pre loader start-->
    <div id="preloader">
        <div class="loading">
            <svg version="1.2" height="300" width="600" xmlns="http://www.w3.org/2000/svg"
                 viewport="0 0 60 60" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path id="pulsar" stroke="rgba(0,155,155,1)" fill="none" stroke-width="2" stroke-linejoin="round" d="M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210" />
            </svg>
        </div>
    </div>
    <!-- color picker start -->
    <div id="style-switcher" class="hs_color_set">
        <div>
            <h3>color options</h3>
            <ul class="colors">
                <li>
                    <p class='colorchange' id='color'></p>
                </li>
                <li>
                    <p class='colorchange' id='color2'></p>
                </li>
                <li>
                    <p class='colorchange' id='color3'></p>
                </li>
                <li>
                    <p class='colorchange' id='color4'></p>
                </li>
                <li>
                    <p class='colorchange' id='color5'></p>
                </li>
                <li>
                    <p class='colorchange' id='style'></p>
                </li>
            </ul>
            <h3>Theme Option</h3>
            <select class="rock_themeoption" onchange="location = this.options[this.selectedIndex].value;">
                <option>Select Option</option>
                <option value="one_page.html">Single Page</option>
                <option value="index-2.html">Multi Pages</option>
            </select>
        </div>
        <div class="bottom"> <a href="#" class="settings"><i class="fa fa-gear"></i></a> </div>
    </div>
    <!-- color picker end -->
    <!--header start-->
    <div class="hlc_topheader">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="hlc_topheader_textleft">
                        <p><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Opening Hours: 6.00 am - 11.00 pm (Mon - Sat)</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="hlc_topheader_textright">
                        <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> Question? Call Us at +(0321) 752 8659</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header id="hs_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div id="hs_logo"> <a href="index"> <img src="~/Content/images/logo.png" alt=""> </a> </div>
                    <!-- #logo -->
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10">
                    <button type="button" class="hs_nav_toggle navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu<i class="fa fa-bars"></i></button>
                    <nav>
                        <ul class="hs_menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <li>
                                <a href="index"  class="active">Home</a>
                                @*<ul>
                                        <li><a href="index-2.html">home Version 1</a></li>
                                        <li><a href="index_babycare.html">home Version 2</a></li>
                                        <li><a href="index_dentist.html">home Version 3</a></li>
                                        <li><a href="one_page.html">home (One Page) V4</a></li>
                                        <li><a href="one_page_babycare.html">home (One Page) V5</a></li>
                                        <li><a href="one_page_dentist.html">home (One Page) V6</a></li>
                                        <li><a href="index_new.html">New Home Page</a></li>
                                    </ul>*@
                            </li>
                            <li><a href="about">about</a></li>
                            <li><a href="service">service</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="hs_social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" id="hs_search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <div class="hs_search_box">
                        <form class="form-inline" role="form">
                            <div class="form-group has-success has-feedback">
                                <input type="text" class="form-control" id="inputSuccess4" placeholder="Search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>


@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
<div class="body-content">
    @RenderBody()
    <hr />

    <!-- Footer Section Start -->
    <div class="hlt_footersection">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="widget text-widget">
                        <div class="hlt_ftr_logo">
                            <a href="home/index"><img src="~/Content/images/logo_ftr.png" alt="Footer Logo" /></a>
                            <p>Lorem ipsum dolor sit amet onsectetur adipi sicing elit, sed do eiusmod empor incididunt ut labore et onsectetur adipisicing elit dolore a aliquia. Ut enim ad minim veniam quis nstrud exercitation ullamco.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="widget text-widget">
                        <h4 class="widget-title">quick links</h4>
                        <div class="hlt_footer_menu">
                            <ul>
                                <li><a href="#">home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">service</a></li>
                                <li><a href="#">portfolio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="widget text-widget">
                        <h4 class="widget-title">Social Media</h4>
                        <div class="hlt_footer_menu">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus" aria-hidden="true"></i> google+</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> twitter</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="widget text-widget">
                        <h4 class="widget-title">find us</h4>
                        <div class="hlt_footer_address">
                            <p><i class="fa fa-home"></i> <span>143 Gordon Terrace Embarrassing NG33 0ZT United Kingdom</span></p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">info@healthcare.com</a></p>
                            <p><i class="fa fa-phone"></i> <span>+1800 326 3264</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright Section Start -->
    <div class="hlt_copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>&copy; Copyright 2018, All Rights Reserved, <a href="#">HEALTHCARE</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Main JS file start-->
    <script type="text/javascript" src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="~/Content/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Content/js/single-0.1.0.js"></script>
    <script type="text/javascript" src="~/Content/js/custom.js"></script>
    @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>